/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  line-height: 1.5;
  color: #333;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
